* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tangerine', cursive;
}

p {
  font-family: 'Lora', serif;
  /* font-family: 'Lora', Georgia, "Times New Roman", serif; */

}